body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Helvetica, Arial;
}
.head,
.nav, .left, .right,
ul {
  display: flex;
}
.header,
.footer {
  background-color: #1f2937;
}
.nav, .head {
  justify-content: space-between;
}
.hero {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}
.navigation, .typ {
  color: #e5e7eb;
  font-size: 18px;
}
ul {
  list-style: none;
}
.left {
  flex-direction: column;
  align-items: flex-start;
}
#awe {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
} 
.but-one {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  border: none;
  font-weight: 900;
}
.right {
  background-color: beige;
  justify-content: center;
  align-items: center;
}
/* }
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 50px;
}
.hero {
  font-weight: 900;
  font-size: 24px;
}
ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
.head {
  display: flex;
  gap: 16px;
  margin-bottom: 100px;
}
.left,
.right {
  display: flex;
  flex: 1;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  color: black;
}
button {
  display: inline;
  background-color: #3882f6;
  color: white;
}
.article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-bottom: 200px;
}
#awe {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.main {
  font-weight: 900;
  font-size: 36px;
  color: #1f2937;
}
.bottom {
  display: flex;
  gap: 32px;
}
.card {
  flex: 1;
  border: 5px solid #3882f6;
  border-radius: 10px;
  padding: 16px;
  width: 150px;
}
.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  padding: 32px;
}
.side {
  font-weight: 900;
  text-align: right;
}
.action {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 32px;
  color:#eee;
}
.call_head {
  font-size: 24px;
  font-weight: 900;
}
.action>button {
  color: white;
  border: solid white;
  border-radius: 5px;
}
.footer {
  display: flex;
  height: 42px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
} */
